#navList{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #222222;
}
li{
  float: left;
}
.firstElement{
  margin-left: 50px;
  font-size:larger;
}
li a{
  display:block;
  color:#CCCCCC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
  
.marginAll {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 87%;
  height: 300px;
  background-color: #f1f1f1;
  border-radius: 7px;
}

.firstText {
  max-width: 1000px;
  padding-top: 65px;
  font-size: large;
  font-weight: 100;
  font-family: sans-serif;
  padding-left: 30px;
}

button {
  background-color: #007baf;
  padding: 10px;
  margin:1%;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.line {
  border-top: 1px solid gray;
  margin: auto;
  margin-top: 2%;
  width: 87%;
}

.column {
  float: left;
  width: 23%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.row {
  margin: auto;
  margin-top: 1%;
  width: 91%;
}

.cards {
  border: 1px solid gray;
  padding: 4px;
  width: 85%;
  height: 50%;
  text-align: center;
  border-radius: 3px;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
}

.imageClass {
  width: 100%;
  height: 160px;
  background-color: #CCCCCC;
  border-radius: 4px;
}

.moreInfo {
  background-color: white;
  color: black;
  margin-left: 4px;
}

/* .title {
  font-size: 25px;
}

.content {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4%;
} */

.copyright{
  font-family: sans-serif;
  margin-left: 6%;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media screen and (max-width: 900px) {
  .column {
    width: 47%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 900px) {
  .cards{
    width: 90%;
    display: block;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin-left: 5px;
  }
}